<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link href="homeDash.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="">
    <link href="./css/temp-manage.css" rel="stylesheet">
    <link href="../../Template/clientSide/css/style.css" rel="stylesheet">
    <title>Template management Room</title>
</head>
<body>
        <!-- ======= sidebar ======= -->
        <div id="sidebar">
          <div class="d-flex flex-column">
  
              <div class="profile">
                  <img src="../../template/queueing_design/assest/Logo=with-text.png" alt="" class="img-fluid ">
              </div>
  
              <nav id="navbar" class="nav-menu navbar">
                  <ul>
                      <li><a href="#Home" class="nav-link scrollto  NavHome"><i class="fa fa-home navIcons"
                                  aria-hidden="true"></i>
                              <span>Home</span></a></li>
                      <li><a href="#Stats" class="nav-link scrollto  NavStats"><span
                                  class="material-symbols-outlined navIcons">
                                  bar_chart
                              </span><span>Stats</span></a></li>
                      <li><a href="#resume" class="nav-link  scrollto  NavQueueRoom"><span
                                  class="material-symbols-outlined navIcons">
                                  meeting_room
                              </span> <span>Queue Room</span></a></li>
                      <li>
                          <a href="#portfolio" class="nav-link  active scrollto NavTemplateManagement"><span
                                  class="material-symbols-outlined navIcons">
                                  team_dashboard
                              </span> <span>Template Management</span></a>
                          <ul>
                              <li>
                                  <a href="#hero" class="nav-link scrollto NavQueueDesign ps-5"><span
                                          class="material-symbols-outlined navIcons">
                                          draw
                                      </span>
                                      <span>Queue Design</span></a>
                              </li>
                              <li>
                                  <a href="#hero" class="nav-link scrollto NavInOutRules ps-5"><span
                                          class="material-symbols-outlined navIcons">
                                          rule
                                      </span>
                                      <span>In / Out Rules</span></a>
                              </li>
                              <li>
                                  <a href="#hero" class="nav-link scrollto NavSMSEmailNotice ps-5"><i
                                          class="fa fa-envelope navIcons" aria-hidden="true"></i>
                                      <span>SMS / Email Notice</span></a>
                              </li>
                          </ul>
                      </li>
                      <li><a href="#services" class="nav-link scrollto NavDeveloper "><i class="fa fa-code navIcons"
                                  aria-hidden="true"></i>
                              <span>Developer</span></a></li>
                  </ul>
              </nav><!-- .nav-menu -->
          </div>
      </div>
      <!-- End sidebar -->
      <header id="header">
          <div class="d-flex justify-content-between align-items-center">
              <div class="">
  
              </div>
              <div class="sideContent d-flex align-items-center justify-content-between">
                  <!-- ======= Mobile nav toggle button ======= -->
                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                          <div class="nav-item dropdown">
                              <div class="me-5" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown"
                                  aria-expanded="false">
                                  <img src="../../template/queueing_design/assest/profile.png" alt="Profile Icon"
                                      class="profile-icon me-1 profilewidth">
                                  <!-- Add user's name or any identifier -->
                                  <span class="me-1">Vaishnavi</span>
                                  <button class="btn btn-link me-1">
                                      <span class="material-symbols-outlined dropbutton">
                                          expand_more
                                      </span>
                                  </button>
                              </div>
                              <ul class="dropdown-menu NavDropdown" aria-labelledby="profileDropdown">
                                  <li>
                                      <a class="dropdown-item" href="#">
                                          <div class="d-flex align-items-center">
                                              <span class="material-symbols-outlined pe-2"> person</span>
                                              <span>My profile</span>
                                          </div>
                                      </a>
                                  </li>
                                  <li>
                                      <hr class="dropdown-divider">
                                  </li>
                                  <li>
                                      <a class="dropdown-item" href="#">
                                          <div class="d-flex align-items-center">
                                              <span class="material-symbols-outlined pe-2">groups</span>
                                              <span>Staff access management<span>
                                          </div>
                                      </a>
                                  </li>
                                  <li>
                                      <hr class="dropdown-divider">
                                  </li>
                                  <li>
                                      <div class="dropdown-item" href="#">
                                          <div class="d-flex align-items-center">
                                              <span class="material-symbols-outlined pe-2">description</span>
                                              <span>Subscription plan</span>
                                          </div>
                                          </a>
                                  </li>
                                  <li>
                                      <hr class="dropdown-divider">
                                  </li>
                                  <li>
                                      <a class="dropdown-item" href="#">
                                          <div class="d-flex align-items-center">
                                              <span class="material-symbols-outlined logoutbutton pe-2">logout</span>
                                              <span class="text-danger">Log out</span>
                                          </div>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </li>
                  </ul>
                  <i class="bi bi-list mobile-nav-toggle d-xl-none">
                      <span class="material-symbols-outlined">
                          menu
                      </span>
                  </i>
              </div>
          </div>
      </header>
      <main id="main" class="bgmain">
        <div class="container">
            <div class="row mb-3">
                <div class="col-xl-8 col-md-12 d-flex temphomeicon">
                    <nav aria-label="breadcrumb ">
                        <ol class="breadcrumb navbreadcrum">
                            <li class="breadcrumb-item"><a href="../../Template/Home.html">
                                    <i class="fa fa-home temphomeicon" aria-hidden="true"></i></a></li>
                            <li class="breadcrumb-item " aria-current="page">
                                <div class="tempText">Template Management</div>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>

            <!-- card -->
            <div class="container">
                <div class="row mb-3">
                  <div class="col-xl-12 col-md-12">
                    <div class="card allcard">
                      <div class="card-content">
                        <div class="card-body tempCard">
                          <div class="align-self-center d-flex">
                            <span class="material-symbols-outlined tempicon">
                                draw
                                </span>
                            <h4 class="ms-2 temptext">Queue Design</h4>
                          </div>
                          <div class="media-body">
                            <p>Real-Time insights with comprehensive analytics showcaing your queue's performance.</p>
          
                          </div>
                          <div class="align-self-center">
                            <a href="../queueing_design/queueDesign.html">
                              <button class="btn btn-primary tempbutton">Go</button>
                              </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          
                <div class="row mb-3">
                  <div class="col-xl-12 col-md-12">
                    <div class="card allcard">
                      <div class="card-content">
                        <div class="card-body tempCard">
                          <div class="align-self-center d-flex">
                            <span class="material-symbols-outlined tempicon">
                                rule
                                </span>
                            <h4 class="ms-2 temptext">In / Out Rules</h4>
                          </div>
                          <div class="media-body">
                            <p>Setup and customize queueing rooms to match your specific needs.</p>
          
                          </div>
                          <div class="align-self-center">
                            <a href="../queueing_design/in-out-rule.html">
                            <button class="btn btn-primary tempbutton">Go</button>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          
                <div class="row mb-3">
                  <div class="col-xl-12 col-md-12">
                    <div class="card allcard">
                      <div class="card-content">
                        <div class="card-body tempCard">
                          <div class="align-self-center d-flex">
                            <span class="material-symbols-outlined tempicon">
                                mail
                                </span>
                            <h4 class="ms-2 temptext">SMS / Email Notice</h4>
                          </div>
                          <div class="media-body">
                            <p>Manage design template in / out rules and notitfications.</p>
          
                          </div>
                          <div class="align-self-center">
                            <a href="#">
                              <button class="btn btn-primary tempbutton">Go</button>
                              </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
        </div>
    </main>




    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <script src="../../Template/clientSide/js/main.js"></script>
</body>
</html>